<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  		<link href="jquery.fancybox.css" rel="stylesheet">
		<link href="fullcalendar.css" rel="stylesheet">
		<link href="xcharts.min.css" rel="stylesheet">
		<link href="select2.css" rel="stylesheet">
		
</head>
<body>

<%= yield %>

</body>
</html>
